body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.test {
  height: 10000px;
  background-color: red;
}

.bg-bombyellow {
  background-color: #FBD01B;
}

.bg-bombred {
  background-color: #D03F27;
}

.font-bombyellow {
  color: #FBD01B;
}

.font-bombred {
  color: #D03F27;
}

.leader-banner {
  margin-top: 30px;
}

.leaderboard-row {
  padding: 6px;
  background-color: #999999;
}
.leaderboard-row:nth-of-type(odd) {
  padding: 6px;
  background-color: #e6e6e6;
}
