
<audio id="background" src="/sounds/backgroundmusic.wav" autoplay="true" loop="true"></audio>
<audio id="zap" src="/sounds/lazer.wav"></audio>
<audio id="kaboom" src="/sounds/scream.mp3"></audio>
<p>
  Testt IO : {{movement}}
</p>
<div class="ticker"><div class="score"></div></div>
<div class="board-container">
  <div class="desktop-garden">
    <div class="hole"></div>
    <div class="ball"></div>
  </div>
  <div class="keypad" ng-mousemove="mouseTrack($event)">
  </div>
</div>
<!-- <div class="keypad" ng-mousemove="mouseTrack($event)"></div> -->
<!-- <input ng-keydown="keyPress($event)"> -->
<div class="output" ng-hide=""></div>
<div class="blackhole-location" ng-hide=""></div>
<div class="domHole-location" ng-hide=""></div>
